page-login {
.bg-image{
background: linear-gradient(rgba(0,130,170,0),rgba(0,130,170,.4)),url('../assets/images/loginpage.jpg');
background-repeat: no-repeat;
background-position: center;
//background-size:contain;
background-size:cover;
opacity: 0.8;
}
.form{
margin-top: 230px;
}
}
